@media only screen and (min-width:1225px) {
    /* MENU */
    /* Hide Mobile & Portrait Tablet */
    .navigation.desktop {
        display: block;
    }
    /* Display Desktop & Landscape Tablet */
    .navigation.mobile {
        display: none;
    }
    /*--------------------------------------------------------------*/
    /* Home */
    .home {
        h1 {
            margin: 0;
            font-size: 3rem;
        }
        h2 {
            &.sub-title {
                font-size: 1.65rem;
            }
        }
    }
    .testimony {
        margin-bottom: 1rem;
        h3 {
            font-size: 1.5rem;
        }
    }
    /*--------------------------------------------------------------*/
    ul {
       &.activity-fare {
        margin-top: 1rem;
            li {
                a {
                    font-size: 1.4rem;
                }
            }
       } 
    }
    /* Nav TABS */
    .nav-tabs {
        .nav-item {
            .nav-link {
                font-size: 1.2em;
            }
        }
    }
/*--------------------------------------------------------------*/
    .activity-page {
        p {
            font-size: 1em;
        }   
    }
}